[submodule "ykb_protocol"]
	path = ykb_protocol
	url = https://github.com/jayadamsmorgan/ykb_protocol
[submodule "hw/stm32wb/cmsis-device"]
	path = hw/stm32wb/cmsis-device
	url = https://github.com/STMicroelectronics/cmsis-device-wb
[submodule "CMSIS_6"]
	path = CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6
