[submodule "cmsis-device-wb"]
	path = cmsis-device-wb
	url = https://github.com/STMicroelectronics/cmsis-device-wb
[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
[submodule "ykb_protocol"]
	path = ykb_protocol
	url = https://github.com/jayadamsmorgan/ykb_protocol
